* {
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
}

body {
    background: linear-gradient(45deg, #19212d, #361f38, #434e1f, #4f322e, #25354e);
    background-size: 400% 400%;
    animation: fondo 8s ease-in-out infinite normal;
}

@keyframes fondo {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

.tituloContactenos {
    font-size: 36px;
    text-align: center;
    margin: 50px 0;
    color: azure;
}

.tabla{
    align-content: center;
}

.fotoPerfil {
    border-radius: 50%;
    height: 220px;
    width: 220px;
    padding-left: 50px;
    padding-right: 50px;
}

.nombrePerfil {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: azure;
    font-size: 30px;
}

.nombreCedulaYCarrera {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: azure;
    font-size: 20px;
}

.blankCell {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 20px;
    color: transparent;
}

.resumenExperiencia {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: azure;
    font-size: 20px;
}

.filledCell {
    align-items: center;
    text-align: center;
}

.button-link-home {
    text-decoration: none;
}

.button {
    text-align: center;
    color: azure;
    background-color: #8f5f5f;
    width: 100px;
    height: 20px;
    vertical-align: middle;
    border-width: 100px;
    margin: 40px auto;
    border: 1px solid white;
    text-decoration: none;
    padding: 5px;
}

.button:hover {
    color:#558ada;
    background-color: azure;
    border: 1px solid #8f5f5f;
}