* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #19212d, #361f38, #434e1f, #4f322e, #25354e);
    background-size: 400% 400%;
    animation: fondo 8s ease-in-out infinite normal;
}

@keyframes fondo {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

main {
    height: 80vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main section p a {
    color: #ED978C;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    border: 1px solid white;
    padding: 30px;
    border-radius: 40px;
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.5), 0 0 4px rgba(255, 255, 255, 0.5);
}

.video h2 {
    width: 100%;
    font-size: 1.4em;
}

.video p {
    font-size: 1em;
}

.video iframe {
    margin: 15px 0;
    width: 95%;
    border-radius: 40px;
}