body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d1117;
    color: white;

}
form {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 18px;
    border-color: #42a54a;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
  }
  
header{
    text-align: center;
}
label {
  display: block;
  margin-bottom: 10px;
}
input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 18px;
  margin-bottom:10px ;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
  margin-top: 45px;
  width: 200px;
  text-align: center;

  

}
input[type="submit"]:hover {
  background-color: #42a54a;
  
}

.formu{
    position: relative;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.boton{
    margin-bottom: auto;
}

.in{
    width: 100%;
    text-align: left;
    color: white;
    text-decoration: none;
    
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo-titulo {
    display: flex;
    align-items: center;
    height: 15vh;
  width: 60vw;
}
.password{
    margin: top 30px;
    text-align: left;

}

.logo {
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.Enlace{
  color: white;
  text-decoration: none;
  margin-top:100px;
}




