* {
  margin: 0;
  padding: 0;
}

@keyframes rotar {
  0% {transform: rotate3d(1,1,1, 0deg);}
  100% {transform: rotate3d(1,1,1, 360deg);}
}

section .logo {
  margin-left: 20px;
}

.formu form section .logo {
  animation-name: rotar;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}


@keyframes fondo {
  0% {background-position: 0 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0 50%;}
}


body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(45deg, #19212d, #361f38, #434e1f, #4f322e, #25354e);
  background-size: 400% 400%;
  animation: fondo 8s ease-in-out infinite normal;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
  background: rgba(0,0,0,.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 18px;
    border-color: #42a54a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 95%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 18px;
  margin-bottom:10px ;
  outline: none;
  background: transparent;
  color: white;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
  margin-top: 45px;
  width: 200px;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #28642d;
}

.formu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.boton{
    margin-bottom: auto;
}

.in{
    width: 100%;
    text-align: left;
    color: white;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-titulo {
    display: flex;
    align-items: center;
    height: 15vh;
    width: 60vw;
}

.password{
    margin: top 30px;
    text-align: left;
}

.Enlace{
  color: white;
  text-decoration: none;
  margin-top:100px;
  font-style: italic;
  font-weight: bold;
}

.Enlace:hover {
  color: #42a54a;
}

.copy {
  margin: 10px auto;
}