h2 {
    margin: 20px;
    font-size: 1em;
}

body {
    background: linear-gradient(45deg, #19212d, #361f38, #434e1f, #4f322e, #25354e);
    background-size: 400% 400%;
    animation: fondo 8s ease-in-out infinite normal;
}

@keyframes fondo {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
}

.tablaArriba{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.tablaAbajo{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.element{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    background-color:rgb(42, 47, 100)
}

.elementPurple{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    background-color:#DDABFF;
}

.elementBlue{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    background-color:#00CCFF;
}

.elementPink{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    background-color:#FF66FF;
}

.elementYellow{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    background-color:#FFFF00;
}

.elementGreen{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    background-color:#68FB61;
}

.elementOrange{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    background-color:#FFE599;
}

.elementRed{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    background-color:#F7CAAC;
}

.elementMint{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    background-color:#E2EFD9;
}

.elementLink{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.elementLink:hover {
    color: rgb(42, 47, 100);
    background-color: rgb(217, 220, 255);
}

.tituloTablaPeriodica {
    font-size: 36px;
    text-align: left;
    margin-left: 50px;
    color: azure;
}