body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    background-color: #0d1117;
    color: white;

}
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 18px;
  border-color: #42a54a;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
label {
  display: block;
  margin-bottom: 10px;
}
input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 18px;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
  margin-top: 45px;
  width: 100px;
  text-align: center;

  

}
input[type="submit"]:hover {
  background-color: #42a54a;
  
}

.formu{
    position:absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    width: 700px;

}

.boton{
    margin-bottom: auto;
}

.in{
    width: 100%;
}

.COM{
    color: white;
    
}